.chat {
  text-align: center;
  background-color: var(--clr-background);
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: var(--clr-dividers) 1px solid;

    &__title {
      color: var(--clr-gray);
    }

    &__back-button{
      padding: 0;
      width: 1.5em;
      background-color: var(--clr-gray);
      border: none;
      color: white;
      border-radius: var(--border-main);
      font-size: 2em;
      font-weight: 500;
    }
  }

  &__body {
    width: 100%;
    max-height: 80vh;
    padding: 1em;
    overflow-y: scroll;
    overflow-anchor: auto;

    &__message {
      margin-bottom: 1em;

      &__meta {
        text-align: left;
        font-size: 0.75em;
      }

      &__name {
        display: inline;
      }

      &__text{
        text-align: left;
        background: white;
        padding: 0.5em 1em;
        border-radius: 10px;
        margin-bottom: 0.5em;
        width: fit-content;
        margin-right: auto;
        color: rgb(59, 59, 59);
      }

      &__time {
        color: gray;
        display: inline;
        margin-right: 0.5em;
      }
    }
  }

  &__footer {
    padding: 1em;
    margin-top: 1em;
    width: 100%;
    margin-top: auto;
    border-top: var(--clr-dividers) 1px solid;
    
    &__input {
      border: none;
      background-color: white;
      border-radius: 10px 0px 0px 10px;
      padding: 1em;
      width: 80%;
    }
  
    &__button {
      padding: 1em;
      width: 20%;
      background-color: var(--clr-primary);
      border: none;
      color: white;
      border-radius: 0px 10px 10px 0px;

    }
  }
}


.text--you{
  color: white;
  background-color: var(--clr-primary);
  margin-right: 0;
  margin-left: auto;
}

.time--you{
  text-align: right;
}

.meta-you {
  text-align: right;
}


div#wave {
	.dot {
		display:inline-block;
		width:8px;
		height:8px;
		border-radius:50%;
		margin-right:5px;
		background: var(--clr-gray);
		animation: wave 1s linear infinite;

		&:nth-child(2) {
			animation-delay: -0.8s;
		}

		&:nth-child(3) {
			animation-delay: -0.6s;
		}
	}
}

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-10px);
	}
}