.chat {
  padding-top: 1em;
  text-align: center;
  background-color: var(--clr-background);
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__over-title {
    color: rgb(190, 190, 190);
  }

  &__title {
    color: rgb(77, 77, 77);
    margin-bottom: 1em;
    line-height: 1em;
  }

  &__body {
    width: 100%;
    padding: 0em 2em;

    &__message {
      margin-bottom: 1em;

      &__meta {
        text-align: left;
        font-size: 0.75em;
      }

      &__name {
        display: inline;
      }

      &__text{
        text-align: left;
        background: white;
        padding: 0.5em 1em;
        border-radius: 10px;
        margin-bottom: 0.5em;
        width: fit-content;
        margin-right: auto;
        color: rgb(59, 59, 59);
      }

      &__time {
        color: gray;
        display: inline;
        margin-right: 0.5em;
      }
    }
  }

  &__footer {

    padding: 1em 2em;
    margin-top: 1em;
    width: 100%;
    margin-top: auto;
    
    &__input {
      border: none;
      background-color: white;
      border-radius: 10px 0px 0px 10px;
      padding: 1em;
      width: 80%;
    }
  
    &__button {
      padding: 1em;
      width: 20%;
      background-color: var(--clr-primary);
      border: none;
      color: white;
      border-radius: 0px 10px 10px 0px;

    }
  }
}


.text--you{
  color: white;
  background-color: var(--clr-primary);
  margin-right: 0;
  margin-left: auto;
}

.time--you{
  text-align: right;
}

.meta-you {
  text-align: right;
}