.join-room {
  height: 100vh;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-background);

  &__title {
    color: var(--clr-primary);
    margin-bottom: 1em;
  }

  &__input {
      margin-bottom: 1em;
      padding: 1em;
      text-align: center;
      width: 80%;
      border: none;
      border-radius: var(--border-main);
      
      &::placeholder{
        color: #D3D3D3;
      }

      &:focus {
        outline-width: 1px ;
        outline-color: var(--clr-primary);
      }
  }

  &__button {
    padding: 1em;
    width: 80%;    
    color: white;
    background-color: #7F888D;
    border: none;
    border-radius: var(--border-main);

    &-active {
      background-color: var(--clr-primary);
      color: white;
      border: none;
    }
  }
}

.Join{
  background-color: #06D471;
}